/*Limpar formatação padrão*/
* {
    margin: o;
    padding: o;

}

body {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #e6e6e6;
}

/*
--- Layout --- 
*/

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
    box-shadow: 1px 1px 2px rgb(48, 45, 45);
}

#area-logo {
    /*--- sem formatação ---*/
} 

#area-menu {
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px; 
}

#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 1px 1px 2px rgb(48, 45, 45);
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgb(48, 45, 45);
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 2px dotted #ccc;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}

/*
--- Formatação do Menu --- 
*/

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;   
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #ffffff;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #f7b600;
    background: #ffffff;
    text-decoration: none;
}

/* 
--- Formatação Geral --- 
*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgb(48, 45, 45);
}

.branco {
    color: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

h2 {
    color: #f7b600;
}

p {
    text-align: justify;
}

h3 {
    color: #565656;
    background: #ccc;
    padding: 5px;
}